
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  
  height: 100vh;
  margin: 0;
  background: rgb(179, 248, 240);
  color: #0b2545;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.card {
  text-align: center;
  padding: 36px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(11,37,69,0.08);
  background: white;
  max-width: 720px;
}

main {
  
  margin:4rem;
}

header {
  grid-column: 1 / span 2;
  background: linear-gradient(rgb(0, 255, 200), rgb(128, 243, 229));
  
}

h1 { margin: 2rem; font-size: 2.2rem; text-align: center;}
p { margin-bottom: 1rem; color: #334155; font-size: 1.3rem}
small { display: block; margin-top: 10px; color: #6b7280; }

nav {
  background: linear-gradient(rgb(128, 243, 229),rgb(179, 248, 240));
  border-radius: 0 15px 0 0;
}

nav h2 {
  margin-left: 2rem;
}

